*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --dark-blue: hsl(229, 31%, 21%);
}
body{
    font-family: sans-serif;
}
.header{
    /* height: 4rem; */
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999;
}
.nav__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 80%;
    margin: auto;
    
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__item{
    list-style: none;
    margin-right: 2rem;
    text-transform: uppercase;
}
.right{
    display: flex;
    align-items: center;
}
.logo{
    z-index: 99;
}
.hamburger{
    z-index: 99;
}
.btn{
    padding: 10px;
    background-color: var(--soft-red);
    color: white;
    border: none;
    border-radius:5px;
}
.home{
    margin-top: 10rem;
    display: grid;
    grid-gap: 4rem;
    margin-bottom: 4rem;
}
.hero{
    position: absolute;
    top: -4rem;
    right: 0;
    left:-40px;
    /* margin: auto; */
    width: 300px;
    z-index: 9;
}
.background{
    position: relative;
    width: 80%;
    margin-left: auto;
    height: 11rem;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    background-color: var(--soft-blue);
    z-index: 2;
}
.landingtext--sec{
    text-align: center;
    width: 90%;
    margin: auto;
}
.landingtext--sec h1{
    margin-bottom: 2rem;
}
.landingtext--sec p{
    color: var(--grayish-blue);
    margin-bottom: 2rem;
}
.btn-chrome, .btn-firefox{
    padding: 1rem;
    border: none;
   font-size: 16px;
    border-radius: 6px;
}
.btn-chrome{
    background-color: var(--soft-blue);
     color: white;
}
.btn-firefox{
    background-color: var(--grayish-blue);
}
.features{
    text-align: center;
    /* width:90%; */
    margin: auto;
}
.features h1{
    margin-bottom: 2rem;
}
.features p, .tabs p{
    color:hsl(229, 8%, 60%);
}
.features p{
    width: 90%;
    margin: auto;
}
.tabs{
    display: flex;
    flex-direction: column ;
    width:90%;
    margin: auto;
}
.tabs p{
    font-weight: 400;
    font-size: 20px;
    width: fit-content;
    margin: auto;
    position: relative;
    padding: 2rem ;
    cursor: pointer;
}
.tabs p::after{
    content: '';
    position: absolute;
    width: 0;
    background-color: var(--soft-red);
    height: 5px;
    left: 0;
    bottom: 0;
    transition: .5s;
}
.tabs p:hover::after{
    width: 100%;
}
.line, .line2{
    width: calc(100% - 2rem);
    height: 1px;
    background-color: var(--grayish-blue);
    margin: auto;
}
.line{
    display: block
}
.background2{
    position: relative;
    width: 60%;
    margin-right: auto;
    height: 11rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    background-color: var(--soft-blue);
    z-index: 2;
    margin-bottom: 3rem;
}
.background2 img{
    position: absolute;
    top: -3rem;
    left:  2rem;
    /* margin: auto; */
    width: 300px;
    z-index: 9;
    
}
.tab_cont{
    display: grid;
    margin: 7rem 0;
     
}
.extension_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
    width: fit-content;
}
.card{
    /* border: 1px solid #000000; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 1rem;
    /* height: 400px; */
    width: fit-content;
   display: grid;
   padding: 1rem;
   margin-bottom: 2rem;
}
.card img{
    margin: 2rem auto;
  
}
.card p, .card h1{
    text-align: center;
    margin: 0;
}
.bt{
    padding: 1rem 3rem;
    background-color: var(--soft-blue);
    color: white;
    border: none;
    border-radius: .5rem;
}
@media screen and (max-width: 700px) {
    .right{
        position: fixed;
        top: -1000px;
        width: 100%;
        height: 100%;
        left:0;
        flex-direction: column;
        align-items: center;
        background-color: var(--dark-blue);
        transition: .5s;
    }
    .show{
        top: 0;
    }
    .nav__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        width: 100%;
    }
    .nav__item{
        margin-right: 0;
        
        font-stretch: wider;
        color: white;
        letter-spacing: 7px;
        
    }
    .f{
        width: 70%;
        height: 1px;
        background-color: var(--grayish-blue);
        margin: 2rem 0;
    }
    .btn{
        width: fit-content;
        text-transform: uppercase;
        padding: 15px 160px;
        letter-spacing: 7px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 8px;
    }
}

@media screen and (min-width: 700px){
    .hamburger{
        display: none;
    }
    .home{
        grid-template-columns:1fr 1fr;
    }
    .landingtext--sec {
        grid-row-end: none;
    }
    .background{
        margin-right: 0;
        
    }
    .hero{
        margin: 0;
        left:-40px;
    }
    .tabs{
        flex-direction: row;
    }
    .line{
        display: none;
    }
    .tab_cont{
        grid-template-columns: 1fr 1fr;
    }
    .ans{
        width: fit-content;
    }
    .card{
        margin-right: 1rem;
    }
}